{% extends "base.html" %}

{% block content %}
<script>
  // Inspired heavily from https://codepen.io/vigzmv/pen/dVLmVG
  // Get the date we're counting down to
  //var endDate = new Date("Jan 9, 2018 00:00:00").getTime(); // Here replace with database content with the tweak
  // Update the count down every 1 second for demo purpose (we could restrict to something larger or on every refresh if we wanted to count down on days)
  var x = setInterval(function() {
  //  var x = function() {
      var endDate = document.getElementById("next_birthday_unixtimestamp").value;
      // Get todays date and time
      // Javascript use ms for Unix timestamps ... that refers to utc
      // We need to convert the getTime according to the locale here in order not to miss some hours in the delta !
      // Because the user does not care that he indicated implicitely his birthdate at 00:00:00 UTC !
      var nowDate = new Date()
      // Let's convert to ms to seconds, it is no rocket science here :)
      // getTimezoneOffset() expected output: your local timezone offset in minutes (independant of the actual timezone of the date object, take care)
      var now = nowDate.getTime() / 1000 - nowDate.getTimezoneOffset() * 60;
      // I leave the console.log here for further debug in case of it is needed
      //console.log(nowDate)
      //console.log(nowDate.getTimezoneOffset()*60)
      //console.log(now)
      //now = Math.floor(now);
      // Find the delta between now an the count down date
      var delta = endDate - now;
      //console.log(now);
      //console.log(endDate);
      //console.log(delta);
      // Time calculations for days, hours, minutes and seconds
      if (delta>=0) {
        var days = Math.floor(delta / (60 * 60 * 24));
        var hours = Math.floor((delta % (60 * 60 * 24)) / (60 * 60));
        var minutes = Math.floor((delta % (60 * 60)) / (60));
        var seconds = Math.floor((delta % (60)));
      } else {
        var days = Math.ceil(delta / (60 * 60 * 24));
        var hours = Math.ceil((delta % (60 * 60 * 24)) / (60 * 60));
        var minutes = Math.ceil((delta % (60 * 60)) / (60));
        var seconds = Math.ceil((delta % (60)));
      }
      // I leave the console.log here for further debug in case of it is needed
      console.log(days)
      console.log(hours)
      console.log(minutes)
      console.log(seconds)
      // Output the result in elements with id="cdHour/cdMin/cdSec"
      if (delta>=0) {
        document.getElementById("daysNum").innerHTML = ("0" + days).slice(-4); // force conversion to string
        document.getElementById("hoursNum").innerHTML = ("0" + hours).slice(-2);
        document.getElementById("minsNum").innerHTML = ("0" + minutes).slice(-2);
        document.getElementById("secsNum").innerHTML = ("0" + seconds).slice(-2);
      } else {
        document.getElementById("daysNum").innerHTML = ("" + days).slice(-5);
        document.getElementById("hoursNum").innerHTML = ("0" + hours).slice(-3);
        document.getElementById("minsNum").innerHTML = ("0" + minutes).slice(-3);
        document.getElementById("secsNum").innerHTML = ("" + seconds).slice(-3);
      }
      // If the count down is over, write some text 
      //if (delta < 0) {
      //    clearInterval(x);
      //    document.getElementById("countContainer").innerHTML = "Your User table got destroyed :) Happy Birthday !";
      //}
  }, 1000);
</script>
<section class="hero {{theme_color_param}} is-fullheight">
<h1 class="title">
  <div class="column is-8 is-offset-2">
    <h3 class="title">Welcome, {{name}} !</h3>
  </div>
  <div class="column is-8 is-offset-2">
    <!-- Let's display the countdown, we use days, hours, minutes, seconds for the purpose of the demo (it is updating correctly)-->
    <!-- It could be restricted to days only and refreshed only once when the user access the page-->
    <div class="box">
      <div class="field" id="countContainer">
        Your birthday countdown (negative means we count since you indicated your *last* birthday):
      </div>
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child notification is-warning">
            <p class="title">Day(s)</p>
            <p class="subtitle" id="daysNum">--</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-warning">
            <p class="title">Hours</p>
            <p class="subtitle" id="hoursNum">--</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-warning">
            <p class="title">Minutes</p>
            <p class="subtitle" id="minsNum">--</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-warning">
            <p class="title">Seconds</p>
            <p class="subtitle" id="secsNum">--</p>
          </article>
        </div>
      </div>
   </div>
  </div>

  <!--<h2>HTML Image Example</h2>  
  <img src="https://www.gifimili.com/image-3731-fraise/" alt="Une fraise">  -->
  
  <!--Second pannel is about profile information: display current theme, allow to pick another one (default to default) -->
  <!--Display registered date (default = time of registration) and allows the user to pick his birthday date-->
  <div class="column is-8 is-offset-2">
    <h3 class="title">Your profile information</h3>
    <div class="box">
      <form method="POST" action="/profile">
        <div class="field">
            Please select your next birthday --displayed here depending on your locale--, then click update button:
            <div class="control">
                <input class="input is-large" type="date" max="2048-01-01" min="1994-01-01" name="next_birthday_dateformat" autofocus="" value="{{next_birthday_dateformat}}"/>
            </div>
        </div>
        <div class="field">
            You currently use the theme {{theme_name}}.
            <br>
            If you are not happy with that choice, please choose another one in the list and click update profile button.
          <div class="select">
            <select name="update_theme">
              <option>default</option>
              <option>spring</option>
              <option>summer</option>
              <option>autumn</option>
              <option>winter</option>
            </select>
          </div>
        </div>
        <div class="field">
          <button class="button is-block is-info is-large is-fullwidth">Update profile</button>
        </div>
      </form>
    </div>
  </div>
</h1>
</section>
<!-- Some data containers here below -->
<input type="hidden" id="next_birthday_unixtimestamp" value="{{next_birthday_unixtimestamp}}"/>
{% endblock %}